<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adu.app.photobeautystar.full"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:largeHeap="true">
        <activity
            android:name="adu.app.photobeauty.activity.PhotoCollageActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="adu.app.photobeauty.activity.PhotoEditActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"> <!-- filters to allow this app to receive image intents from the system -->

        </activity>
        <activity
            android:name="adu.app.photobeauty.activity.MaskMakerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="adu.app.photobeauty.activity.TextMakerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="adu.app.photobeauty.activity.GalleryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="adu.app.photobeauty.activity.MenuActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="adu.app.photobeauty.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>